/config.log
/config.status
/configure
/Makefile
/aclocal.m4
/Makefile.in
/libtool
/ltmain.sh
/missing
/compile
/config.guess
/config.sub
/depcomp
/install-sh
/.autotools
/.libs/
/mod_sts.la
/test-driver
/.settings
/config.guess~
/config.sub~
/configure~
/install-sh~
